@CHARSET "ISO-8859-1";
@CHARSET "ISO-8859-1";
/** formata elementos que tem backgrounds parallax **/
.bgParallax {
	font-family: 'Elsie', cursive;
	color:white;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	min-height: 100%;
	text-shadow:0 0 10px rgba(0,0,0,0.7);

	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
}

/* Define backgrounds dos divs */
.body{background-color: #FFF;}
.login-header {
	background-image: url('../img/c.jpg');
	background-repeat: no-repeat;
	-webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	-moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	-ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	-o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
}
