@CHARSET "ISO-8859-1";
.product-detail-page, .header-funcionario, .login-page, .simulation-result{
	padding: 20px;
}

.destaque-text{
	font-size: 14px;
	font-weight: bold;
}

form label {color: black !important;}