<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>TRABALHO PSW</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.controller.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.controller.servlets.HomeAreaLogadaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroPacienteServlet</servlet-name>
        <servlet-class>com.controller.servlets.CadastroPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaPacienteServlet</servlet-name>
        <servlet-class>com.controller.servlets.BuscaPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarConsultaServlet</servlet-name>
        <servlet-class>com.controller.servlets.BuscarConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroConsultaServlet</servlet-name>
        <servlet-class>com.controller.servlets.CadastroConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProntuarioServlet</servlet-name>
        <servlet-class>com.controller.servlets.CadastroProntuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProntuarioServlet</servlet-name>
        <servlet-class>com.controller.servlets.BuscaProntuarioServlet</servlet-class>
    </servlet>            
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CadastroPacienteServlet</servlet-name>
        <url-pattern>/cadastroPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaPacienteServlet</servlet-name>
        <url-pattern>/buscaPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarConsultaServlet</servlet-name>
        <url-pattern>/buscaConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroConsultaServlet</servlet-name>
        <url-pattern>/cadastroConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProntuarioServlet</servlet-name>
        <url-pattern>/cadastroProntuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProntuarioServlet</servlet-name>
        <url-pattern>/buscaProntuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout> 
            30
        </session-timeout>
    </session-config>
	<welcome-file-list>
	  <welcome-file>index.html</welcome-file>
	  <welcome-file>index.htm</welcome-file>
	  <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app> 